<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= image_url("archery2.jpg") %>
<br>
<%= image_url("HG_arrows.jpg") %>
<br>
<%= image_url("hg_tim2.jpg") %>
<br>
<%= image_url("hg_random.jpg") %>
<br>
<%= image_url("hg_cher.jpg") %>
