<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grab bow and arrows and join the Biggest Archery Tag Community in Shanghai, China.">
    <meta name="keywords" content="archery, archery tag, bow and arrows, dodgeball, archery dodgeball, shanghai, china, sports">
    <!-- <meta name="author" content="Agnes Selvita"> -->
    <title>Hungover Games China</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%#= javascript_pack_tag 'application' %>
  </body>
</html>
